<div id="message">
  <div class= "mx-2">
    <div class="message-row d-flex <%= message.sender?(current_user) ?  'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style'%>">
        <div class ="">
          <small><strong><%= message.user.username %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
        </div>
        <p class ="py-1"><%= message.content %></p>
      </div> 
    </div>
  </div>
</div>
