<div class="container py-5 mb-5">

  <ul class="nav nav-pills nav-fill toogle-bar">
    <li class="nav-item">
      <%= link_to "Public", posts_path, class:"nav-link", style:"color:#8064A2;"  %>
    </li>
    <li class="nav-item">
      <%= link_to "Private", conversations_path, class:"nav-link active btn btn-primary", style:"background-color:;" %>
    </li>
  </ul>

  <% if @conversations.empty? %>
    <div class="container text-center my-5">
      <h1>Seems like you did not start any conversations yet</h1>
      <p>Time to make some connections!</p>
      <div class="mt-5">
      <h3>People you might want to connect with</h3>
        <div class="p-0">
          <% random_users = [] %>
          <% 4.times do %>
            <% random_user = User.all.sample %>
            <% while ((random_user == current_user) || (random_users.include? random_user))%>
              <% random_user = User.all.sample %>
            <% end %>
            <% random_users << random_user %>
            <div class="">
              <%=  render "conversations/newcard", user: random_user, conversation: @new_conversation%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="py-3 mb-5">
      <hr/>
      <% @conversations.each do |conversation| %>
        <%= link_to conversation_path(conversation) do %>
          <div class= "d-flex gap-2">
            <% if current_user == conversation.user_to %>
              <div>
                <% if conversation.user_from.avatar_cl.attached? %>
                  <%= cl_image_tag(conversation.user_from.avatar_cl.key, width: "50", height: "50", radius: "max", background: "white") %>
                <% elsif conversation.user_from.avatar %>
                  <%= image_tag(conversation.user_from.avatar, width: "50", height: "50") %>
                <% else %>
                  <%= image_tag("userF1.png", width: "50", height: "50") %>
                <% end %>
              </div>
              <div>
                <h3><%= conversation.user_from.username %></h3>
                <% if conversation.messages.exists? %>
                  <p><i>Last message sent at: <%= conversation.messages.last.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
                <% end %>
              </div>

            <% else %>

              <div>
                <% if conversation.user_to.avatar_cl.attached? %>
                  <%= cl_image_tag(conversation.user_to.avatar_cl.key, width: "50", height: "50", radius: "max", background: "white") %>
                <% elsif conversation.user_to.avatar %>
                  <%= image_tag(conversation.user_to.avatar, width: "50", height: "50") %>
                <% else %>
                  <%= image_tag("userF1.png", width: "50", height: "50") %>
                <% end %>
              </div>

              <div>
                <h3><%= conversation.user_to.username %></h3>
                <% if conversation.messages.exists? %>
                  <p><i>Last message sent at: <%= conversation.messages.last.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
                <% end %>
              </div>
            <% end %>
          </div>
          <hr/>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
