<div class="container py-5 mb-5">

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "Public", posts_path, class:"nav-link", style:"color:#8064A2;"  %>
    </li>
    <li class="nav-item">
      <%= link_to "Private", conversations_path, class:"nav-link active btn btn-primary", style:"background-color:;" %>
    </li>
  </ul>

  <div class="py-5 mb-5">
    <% @conversations.each do |conversation| %>
        <small>
          <strong>Your conversation with
          <% if current_user == conversation.user_to %>
          <%= conversation.user_from.username %>
          <% else %>
          <%= conversation.user_to.username %>
          <% end %>
          </strong>
          <i><%= conversation.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= conversation.title %></p>

        <div class = "d-flex justify-content-center">
        <%= link_to "See messages", conversation_path(conversation), class: "btn btn-primary" %>
        </div>
      <hr/>
    <% end %>
  </div>
</div>
