<div class="">
  <h1>Your conversation with
    <% if current_user == @conversation.user_to %>
      <%= @conversation.user_from.username %>
      <% else %>
      <%= @conversation.user_to.username %>
      <% end %>
  </h1>

  <div class="">
    <% @conversation.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.username %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

  <div class= "my-4" >
    <div class= container>
        <%= simple_form_for [@conversation, @message], html: {class: ""} do |f| %>
          <%= f.input :content,
            label: false,
            placeholder: "Enter your message here",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <div class= "d-flex justify-content-center">
            <%= f.submit "Send", class: "btn-submit" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
