<div class="my-5 py-5">
  <h1 class="text-center"><%= current_user.username %>`s calendar</h1>


  <%= month_calendar do |date| %>
    <p class="px-2"><%= date.day%></p>
    <% @appointments.each do |appointment| %>
      <% if appointment.date == date %>
        <i class="fa-solid fa-circle fa-2xs" style="color: #dd3647;"></i>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <% @appointments.each do |appointment| %>
    <%= appointment.title %>
    <p><%= appointment.date %></p>
  <% end %>
</div>