<div class="my-2 py-3">
  <%= month_calendar do |date| %>
    <div type="button" class="myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal<%=date%>">
      <%#= link_to calendar_path(current_user, date: date) do %>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal<%=date%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color:#EAD6DE;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Appointments and Events</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% @current_day_appointments = @appointments.where(date: date).to_a %>
                <% @current_day_events = @events.where(date: date).to_a %>
                <% @events_attending = @attending.where(date: date).to_a %>
                <h2><%= date %></h2>
                <% if @current_day_appointments.empty? && @current_day_events.empty? && @events_attending.empty? %>
                  <h4>No appointments or events to display!</h4>
                <% else %>
                  <% unless @current_day_appointments.empty? %>
                    <div>
                      <h2>Private Appointments </h2>
                    </div>
                    <div>
                      <% @current_day_appointments.each do |appointment| %>
                        <div class="card-container">
                          <div class="card">
                            <div>
                              <h3><%= appointment.hospital.name %></h3>
                            </div>
                            <div style="display:flex;">
                              <h5><i class="fa-solid fa-location-dot"></i>
                               <%= appointment.hospital.address %></h5>
                            </div>
                            <div>
                              <h3><%= appointment.title %></h3>
                            </div>
                            <div>
                              <h5>Purpose: <%= appointment.purpose %></h5>
                            </div>
                            <div>
                              <p> <%= appointment.date.strftime('%B %d') %> at <%= appointment.time.strftime('%H:%M') %> </p>
                            </div>
                            <% if appointment.notes != "" %>
                              <div>
                                <p><%= appointment.notes %></p>
                              </div>
                            <% else %>
                              <div> </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <% unless @current_day_events.empty? && @events_attending.empty? %>
                    <div>
                      <h2>Events</h2>
                    </div>
                    <div>
                      <% @current_day_events.each do |event| %>
                        <div class="card-container">
                          <div class="card">
                            <div>
                              <h3><%= event.title %></h3>
                            </div>
                            <div>
                              <h5>Description: <%= event.content %></h5>
                            </div>
                            <div>
                              <i class="fa-solid fa-location-dot"></i> <%= event.location %>
                            </div>
                            <div>
                             <p> <%= event.date.strftime('%B %d') %> at <%= event.time.strftime('%H:%M') %> </p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <% if @events_attending %>
                  <% @events_attending.each do |attend| %>
                    <div class="card-container">
                      <div class="card">
                        <div>
                          <h3> <%= attend.title %> </h3>
                        </div>
                        <div>
                          <h5>Description: <%= attend.content %></h5>
                        </div>
                        <div>
                          <i class="fa-solid fa-location-dot"></i> <%= attend.location %>
                        </div>
                        <div>
                          <p> <%= attend.date.strftime('%B %d') %> at <%= attend.time.strftime('%H:%M') %> </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%# <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div> %>
            </div>
          </div>
        </div>
        <p class="px-2" id="date"><%= date.day%></p>
        <% @appointments.each do |appointment| %>
          <% if appointment.date == date %>
            <i class="fa-solid fa-circle fa-2xs" style="color: #dd3647;"></i>
          <% end %>
        <% end %>
        <% @events.each do |event| %>
          <% if event.date == date %>
            <i class="fa-solid fa-circle fa-2xs" style="color: #33BBC5;"></i>
          <% end %>
        <% end %>
        <% @attending.each do |attend| %>
          <% if attend.date == date %>
            <i class="fa-solid fa-circle fa-2xs" style="color: #dd99ff;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @hospitals %>
    <div class="new_appt">
      <h4>Add new appointment:</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Your Hospitals
        </button>
        <ul class="dropdown-menu" style="width:190px;">
          <% @hospitals.each do |hospital| %>
            <li><%= link_to hospital.name, new_hospital_appointment_path(hospital) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
