<%# destroy_user_session_path, method: :delete %>
<div class="my-5 p-5">
  <div class="my-5 d-flex flex-column align-items-center">
    <h1><%= current_user.username %></h1>
    <%= link_to "LOG OUT",  destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
  <div class="border rounded-4 px-4">
    <p>recommended article for you</p>
    <div class="d-none">
      <div class="my-3">
       <img id="article-img" class="rounded-4" src="<%= @article.image%>" alt="Article Picture"> 
      </div>
      <div>
        <h3><%= @article.title %></h3>
        <p><%= @article.content %></p>
        <a target="_blank" href="<%= @article.link %>">Read more</a>
      </div>
    </div>
  </div>
</div>
