<div class="d-flex justify-content-around">
  <% if user_signed_in? %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-user fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-comment fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
        <div class="icon-border p-4">
          <i class="fa-solid fa-house fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-hospital fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-calendar-days fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-user fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-house fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
      <div class="icon-border p-4">
        <i class="fa-solid fa-hospital fa-xl" style="color: #004444;"></i>
      </div>
    <% end %>
  <% end %>
</div>
