<div class="col-lg-3">
<div class="card-event">
  <div class = "m-3 p-2">
    <h2><%= event.title %></h2>
    <%= event.location%>
    <div class="img mx-auto">
      <%# <%= cl_image_tag(booking.job.photo.key, style: 'width:210px;height:150px;', class: 'rounded-4') %> %>
    </div>

  </div>
  <div class="card-event-info m-3 p-2">
    Date: <%= event.date %>
  </div>
  <div class="card-event-info m-3 p-2">
    Description: <%= event.description %>
  </div>
  <div class="card-event-info m-3 p-2">
    Name: <%= %>
    </div>
  </div>
  </div>
</div>
