  <center> <h1> Upcoming events </h1></center>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: events_path, method: :get, class: "d-flex my-3" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "park, ice cream, yoga"
        %>
      <%= submit_tag "Search", name: "", class: "btn-hire" %>
    <% end %>
    </div>
  </div>
</div>

<div class = "container">
  <div class="row justify-content-between">
    <% @events.each do |event| %>
      <%# <%= render event %>
      <h3> <%= event.title%> </h3>
      <%= image_tag("yoga_event_sample.jpeg", alt: "Yoga at the park", style: "width: 200px; height: auto;") %>
      <p> Description: <%= event.content%> </p>
      <p> Location: <%= event.location%> </p>
      <p> Date: <%= event.date%> </p>
      <p>
        <%= link_to "See more", event_path(id: event.id) %>
      </p>
      <% end %>
  </div>

    <% if policy(Event).new?%>
      <%= link_to "Make an event", new_event_path, class: "btn-submit" %>
    <% end %>
</div>
