
<div class="container py-3 mb-3">
  <%#--- SEARCH BAR --- %>
  <div class="row justify-content-center m-2">
    <div class="col-sm-8 my-3">
      <%= form_with url: events_path, method: :get, class: "d-flex my-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "park, ice cream, yoga"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <%# --- MAKE EVENT --- %>
  <div class="d-flex justify-content-center">
    <% if policy(Event).new?%>
      <%= link_to "Make an event", new_event_path, class: "btn-main" %>
    <% end %>
  </div>

  <hr/>

  <%# --- DISPLAY ALL EVENTS --- %>
  <div class="py-3 my-3">
    <% @events.each do |event| %>
      <%= link_to event_path(id: event.id) do %>
        <div class="container">
          <div class="card rounded-3 p-3">
            <%= cl_image_tag event.photo.key, :crop => :fill, :object_fit => :cover, class:"img-container rounded-4" %>
            <div class="card-container p-3">
              <h3><%= event.title %></h3>
              <hr/>
              <p><i class="fa-solid fa-location-dot"></i> <%= event.location %></p>
              <p>
                <i class="fa-solid fa-calendar-days"></i>
                <%= event.date.strftime('%B %d') %> at <%= event.time.strftime('%H:%M') %> JST
              </p>
              <p>Hosted by: <%= event.user == current_user ? "You" : event.user.username %></p>
              <p>
                <i class="fa-solid fa-circle-check"></i>
                <% attending = event.attendants %>
                <% all = attending.count + 1 %>
                <%= all %> going
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
