<h1 class="text-center">Make an event</h1>

<div class="d-flex flex-row justify-content-center">
  <div class="p-3 ">
    <%= simple_form_for [@event] do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :date %>
      <%= f.input :location %>
      <%= f.input :time %>
      <%= f.input :photo, as: :file, input_html: { multiple: false } %>
      <div class="d-flex justify-content-evenly my-5">
        <%= f.button :submit, class:"btn-hire" %>
        <%= link_to "Back", events_path, class: "btn-hire" %>
      </div>
    <% end %>
  </div>
</div>
