<div class="p-3">
  <div class = "d-flex justify-content-center py-3">
    <%= link_to "Back", events_path, class: "btn btn-primary" %>
  </div>

  <div class="row justify-content-center"> <!-- Center the entire card-container -->
    <div class="card-container">
      <h1 class="pt-4 text-center"><%= @event.title %></h1>
      <div class="d-flex justify-content-center "> <!-- Center the image -->
        <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill, class: "p-4" %>
      </div>

    <div class="card text-center"> <!-- Center the card content -->
      <h3><%= @event.content %></h3>
      <h5><i class="fa-solid fa-location-dot"></i> <%= @event.location %></h5>
      <p><i class="fa-regular fa-clock"></i> <%= @event.date.strftime('%B %d') %> at <%= @event.time.strftime('%H:%M') %> JST</p>
      <p>Hosted by <%= @event.user.username %></p>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <% if @event.pending? %>
      <%= simple_form_for @event do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'accepted' } %>
        <%= f.submit 'Attending', class: 'btn btn-submit' %>
      <% end %>

      <%= simple_form_for @event do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
        <%= f.submit 'Not attending', class: 'btn btn-submit' %>
      <% end %>
    <% else %>
      <h3> Status: <%= @event.status %></h3>
    <% end %>
  </div>

  <% if policy(@event).destroy? %>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Delete this event", event_path(@event), class: "btn btn-submit btn-sm",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>

<%# if @event.user != current_user %>
