<%= link_to "Back", events_path, class: "btn btn-primary" %>

<div class="d-flex justify-content-center"> <!-- Center the entire card-container -->
  <div class="card-container">
    <h1 class="pt-4"><%= @event.title %></h1>
    <div class="d-flex justify-content-center"> <!-- Center the image -->
      <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="card text-center"> <!-- Center the card content -->
      <h3><%= @event.content %></h3>
      <p><i class="fa-solid fa-location-dot"></i> <%= @event.location %></p>
      <p><i class="fa-regular fa-clock"></i> <%= @event.date.strftime('%B %d') %> at <%= @event.time.strftime('%H:%M') %> JST</p>
      <p>Hosted by <%= @event.user.username %></p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <% if @is_attending %>
    <%= link_to 'Decline', status_change_path({event: @event, status: 2}), method: "post"%>
  <% else %>
    <%= link_to 'Accept', status_change_path({event: @event, status: 1}), method: "post" %>
 <% end %>
</div>


<%# <%= link_to “Accept”, status_change_path({params hash}), method: “post” %>

<%# if !@event.users.include? (current_user)%>
  <%#= simple_form_for @attendant, url: update_event_attendant_path(@event, @attendant), method: :create do |f| %>
    <%#= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
    <%#= f.submit 'Not attending', class: 'btn btn-submit' %>
  <%# end %>
<%# end%>

<%# @attendants.each do |attendant| %>
  <%# <div class="attendant-status"> %>
    <%# unless pending?(attendant) %>
      <%# Status: <%= attendant.status %>
    <%# end %>

    <%# if attending?(attendant, @event) %>
      <%#= simple_form_for attendant, url: update_event_attendant_path(@event, attendant), method: :patch do |f| %>
        <%#= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
        <%#= f.submit 'Not attending', class: 'btn btn-submit' %>
      <%# end %>
    <%# else %>
      <%#= simple_form_for attendant, url: update_event_attendant_path(@event, attendant), method: :patch do |f| %>
        <%#= f.input :status, as: :hidden, input_html: { value: 'attending' } %>
        <%#= f.submit 'Attending', class: 'btn btn-submit' %>
      <%# end %>
    <%# end %>
  <%# </div> %>
<%# end %>



  <%# <div class="pt-2">
    Attendees: <%= @event.num_attendees.to_i%>
  <%# </div> %>

<% if policy(@event).destroy? %>
  <div class="d-flex justify-content-center mt-3">
    <%= link_to "Delete this event", event_path(@event), class: "btn btn-submit btn-sm",
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>


<%# if @event.user != current_user %>
