<div class="py-5 mb-5">
  <% @hospitals.each do |hospital| %>
    <div class="container">
      <div class="card ">
        <%= image_tag hospital.default_image %>
        <div class="card-container">
          <div class="hospital-header">
            <h2><%= hospital.name %></h2>
            <span><%= hospital.average_rating %><i class="fa-solid fa-star" style="color: gold;"></i></span>
          </div>
          <h3><%=hospital.address %></h3>
          <%#h5>
            <%= hospital.services %>
          <%# </h5> %>
          <div class="card-border">
            <p class="<%= hospital.description.length > 100 ? 'hospital-description' : '' %>"><%= hospital.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
