<div class="card-container px-3">

  <div class= "">
    <h1 style="margin-top: 5px"><%= @hospital.name %></h1>
    </div>
    <div >
      <%= image_tag @hospital.default_image, class:"hospital-show-image" %>
    </div>
    <div class="card">
      <div>
      <p>Address: <%= @hospital.address %></p>
      </div>
      <div>
      <p>Price Range: <%= @hospital.price_range %></p>
      </div>
      <div>
      <p>Services: <%= @hospital.services %></p>
      </div>
      <div>
      <p>Description: <%= @hospital.description %></p>
      </div>
      <div>
      <p>Average Rating: <%= @hospital.average_rating %><i class="fa-solid fa-star" style="color: gold;"></i></p>
      </div>
      <div>
      <p>Phone number: <%= @hospital.phone_number %></p>
      </div>
      <div>
      <p>Website: <%= @hospital.webpage %></p>
      </div>
    </div>
    <div class= "d-flex justify-content-center py-3">
      <%= link_to "Add Appointment to your calendar",  new_hospital_appointment_path(@hospital), class: "btn-submit" %>
    </div>
  </div>

  <div class="px-3">
    <h1>Reviews</h1>
    <% @hospital.reviews.each do |review| %>
    <div class="card-container">
      <div class="card">
        <div class= "d-flex py-2">
        <% if review.user.avatar_cl.attached? %>
          <%= cl_image_tag(review.user.avatar_cl.key, width: "50", height: "50") %>
          <% elsif review.user.avatar %>
          <%= image_tag(review.user.avatar, width: "50", height: "50") %>
          <% else %>
          <%= image_tag("userF1.png", width: "50", height: "50") %>
          <% end %>
          <h3 class="p-2"><%= review.user.username %></h3>
        </div>
        <div>
        <h3><%= review.title %></h3>
        </div>
        <div>
        <p>Rating: <%= review.rating.to_i %></p>
        </div>
        <div>
        <p><%= review.comment %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <hr/>

  <div class="container px-3">
    <h1>Leave your review</h1>
    <%= simple_form_for [@hospital, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :comment %>
    <%= f.input :rating, as: :numeric, input_html: { min: '1', max: '5', step: '1' }, placeholder: "Enter a number from 1 to 5" %>
      <div class= "d-flex justify-content-center py-3">
        <%= f.submit "Submit your review", class: "btn-submit" %>
      </div>
    <% end %>
  </div>
