<div class="card-container px-3">

  <div class="text-center p-3">
    <h1 style="margin-top: 5px"><%= @hospital.name %></h1>
  </div>
  <div class="card rounded-3 p-3 position-relative">
    <div class="d-flex">
      <%  @hospital.average_rating.to_i.times do  %>
        <i class="fa-solid fa-star" style="color: #a8a424;"></i>
      <% end %>
      <%  (5-@hospital.average_rating.to_i).times do  %>
        <i class="fa-regular fa-star" style="color: #a8a424;"></i>
      <% end %>
    </div>
    <div >
      <%= image_tag @hospital.default_image, class:"hospital-show-image rounded-3" %>
    </div>
    <div class="d-flex flex-column mb-3">
      <div class="pt-2">
        <h3>Address:</h3>
        <p class="fs-4"><%= @hospital.address %></p>
      </div>
      <div class="d-flex justify-content-start gap-3">
        <h4>Price Range:</h4>
        <p  class="fs-5"><%= @hospital.price_range %></p>
      </div>
      <div class="d-flex justify-content-start gap-3">
        <h5>Average Rating:</h5> 
        <p><%= @hospital.average_rating %><i class="fa-solid fa-star" style="color: #a8a424;"></i></p>
      </div>
      <div>
        <h3>Services:</h3> 
        <p><%= @hospital.services %></p>
      </div>
      <div>
        <h4>Description:</h4>
        <p><%= @hospital.description %></p>
      </div>
      <div class="d-flex justify-content-start gap-3">
        <h4>Phone number:</h4>
        <p><%= @hospital.phone_number %></p>
      </div>
      <div class="d-flex justify-content-start gap-3">
        <h4>Website:</h4> 
        <p><%= @hospital.webpage %></p>
      </div>
    </div>
    <div class= "d-flex justify-content-center py-3">
      <%= link_to "Add Appointment to your calendar",  new_hospital_appointment_path(@hospital), class: "btn-main" %>
    </div>
  </div>
  

  <% if !@hospital.reviews.empty? %>
    <div class="card rounded-3 p-3">
      <h1>Reviews</h1>
      <% @hospital.reviews.each do |review| %>
        <hr/>
        <div class="container">
          <div class= "d-flex py-2">
            <% if review.user.avatar_cl.attached? %>
              <%= cl_image_tag(review.user.avatar_cl.key, width: "50", height: "50") %>
            <% elsif review.user.avatar %>
              <%= image_tag(review.user.avatar, width: "50", height: "50") %>
            <% else %>
              <%= image_tag("userF1.png", width: "50", height: "50") %>
            <% end %>
            <h3 class="p-2 align-middle"><%= review.user.username %></h3>
          </div>
        
          <h3><%= review.title %></h3>
          <div>
            <p>Rating: <%= review.rating.to_i %></p>
          </div>
          <div>
            <p><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="card rounded-3 p-3">
    <h1>Leave your review</h1>
    <%= simple_form_for [@hospital, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :comment %>
    <%= f.input :rating, as: :numeric, input_html: { min: '1', max: '5', step: '1' }, placeholder: "Enter a number from 1 to 5" %>
      <div class= "d-flex justify-content-center py-3">
        <%= f.submit "Submit your review", class: "btn-main" %>
      </div>
    <% end %>
  </div>
