<div class="card-container">

  <div class= "">
    <div style="margin-top:70px;" class="back-btn">
      <%= link_to "Back", hospitals_path, class: "btn btn-primary" %>
    </div>
    <h1 style="margin-top: 5px;"><%= @hospital.name %></h1>
      <%= link_to "Add Appointment to calendar",  new_hospital_appointment_path(@hospital) %>
    </div>
    <div >
      <%= image_tag @hospital.default_image, class:"hospital-show-image" %>
    </div>
    <div class="card">
      <div>
      <p>Address: <%= @hospital.address %></p>
      </div>
      <div>
      <p>Price Range: <%= @hospital.price_range %></p>
      </div>
      <div>
      <p>Services: <%= @hospital.services %></p>
      </div>
      <div>
      <p>Description: <%= @hospital.description %></p>
      </div>
      <div>
      <p>Average Rating: <%= @hospital.average_rating %><i class="fa-solid fa-star" style="color: gold;"></i></p>
      </div>
      <div>
      <p>Phone number: <%= @hospital.phone_number %></p>
      </div>
      <div>
      <p>Website: <%= @hospital.webpage %></p>
      </div>
    </div>
  </div>


<h1>Reviews </h1>
  <% @hospital.reviews.each do |review| %>
  <div class="card-container">
   <div class="card">
      <div>
        <%= review.title %>
        <%= review.rating %>
     </div>
      <div>
        <%= review.comment %>
      </div>
    </div>
  </div>
  <% end %>

  <%= simple_form_for [@hospital, @review] do |f| %>
  <%= f.input :title %>
  <%= f.input :comment %>
  <%= f.input :rating, as: :numeric %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
