<div class="card-container">
  <h1 style="margin-top: 70px;"><%= @hospital.name %></h1>
    <div >
      <%= image_tag @hospital.default_image, class:"hospital-show-image" %>
    </div>
  <div class="card">
    <div>
    <p>Address: <%= @hospital.address %></p>
    </div>
    <div>
    <p>Price Range: <%= @hospital.price_range %></p>
    </div>
    <div>
    <p>Services: <%= @hospital.services %></p>
    </div>
    <div>
    <p>Description: <%= @hospital.description %></p>
    </div>
    <div>
    <p>Average Rating: <%= @hospital.average_rating %><i class="fa-solid fa-star" style="color: gold;"></i></p>
    </div>
    <div>
    <p>Phone number: <%= @hospital.phone_number %></p>
    </div>
    <div>
    <p>Website: <%= @hospital.webpage %></p>
    </div>
  </div>
  <h1>Reviews</h1>
  <div class="card">
  <p>reviews go here</p>
  <p>and here</p>
  <p>and here</p>
  <p>and here</p>
  <p>and here</p>
  <p>and here</p>
  </div>
</div>


<%# t.string "name"
    t.string "address"
    t.string "price_range"
    t.text "services"
    t.text "description"
    t.float "average_rating"
    t.string "phone_number"
    t.string "webpage"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "default_image" %>
