<div class="container py-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 mx-2">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to "Public", posts_path, class:"nav-link active btn btn-primary", style:"background-color:;" %>
        </li>
        <li class="nav-item">
          <%= link_to "Private", conversations_path, class:"nav-link", style:"color:#8064A2;" %>
        </li>
      </ul>

      <div class="col-sm-8 my-3">
        <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search for categories, keywords..."
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "d-flex justify-content-center py-3">
    <%= link_to "Add a new post", new_post_path, class: "btn-main" %>
  </div>
  <hr/>

  
  <div>
    <% @posts.each do |post| %>
      <div class= "card rounded-3 p-2">
        <div class="d-flex gap-3 position-relative">
          <% if post.user.avatar_cl.attached? %>
            <%= cl_image_tag(post.user.avatar_cl.key, width: "50", height: "50", radius: "max", background: "white") %>
          <% elsif post.user.avatar %>
            <%= image_tag(post.user.avatar, width: "50", height: "50") %>
          <% else %>
            <%= image_tag("userF1.png", width: "50", height: "50") %>
          <% end %>
          <div class="d-flex flex-column justify-content-center">
            <h3><strong><%= post.user == current_user ? "You" : post.user.username %></strong></h3>
            <p><i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
          </div>
          <% if policy(post).destroy? %>
            <%= button_to post, form: { data: { turbo_confirm: 'Are you sure?' } } , method: :delete, class: "delete-icon" do %>
              <i class="fa-solid fa-trash fa-xl" style="color: #004444;"></i>
            <% end %>
          <% end %>
        </div>
        <%= link_to post_path(post) do %>
          <h3 class = "py-1"><%= post.title %></h3>
          <hr/>
          <p>Category: <%= post.category %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>