<div class="container py-5 my-5">

<div class="row justify-content-center">
  <div class="col-sm-8 my-2">
    <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for categories, authors, keywords"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

  <div class = "post-btn rounded">
    <%= link_to "Add a new post!", new_post_path, class: "btn w-100" %>
  </div>
  <hr/>

  <div>
    <% @posts.each do |post| %>
      <div>
        <small>
          <strong><%= post.user.username %></strong>
          <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= post.title %></p>
        <p>Category: <%= post.category %></p>

        <%= link_to "See details and replies", post_path(post), class: "btn btn-primary" %>
        <hr/>
      </div>
    <% end %>
  </div>
</div>
