<div class="container">
  <h1>Chatrooms</h1>
  <%= link_to "Post Something", new_post_path, class: "btn btn-primary" %>

  <div>
    <% @posts.each do |post| %>
      <div>
        <small>
          <strong><%= post.user.username %></strong>
          <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= post.title %></p>
        <p>Category: <%= post.category %></p>

        <%= link_to "See more", post_path(post), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
