<div class="container my-3">

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "Public", posts_path, class:"nav-link active btn btn-primary", style:"background-color:;" %>
    </li>
    <li class="nav-item">
      <%= link_to "Private", conversations_path, class:"nav-link", style:"color:#8064A2;" %>
    </li>
  </ul>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for categories, keywords..."
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

  <div class = "d-flex justify-content-center py-3">
    <%= link_to "Add a new post", new_post_path, class: "btn-submit" %>
  </div>
  <hr/>

  <div>
    <% @posts.each do |post| %>
      <div>
        <div>
          <% if post.user.avatar_cl.attached? %>
            <%= cl_image_tag(post.user.avatar_cl.key, width: "50", height: "50", radius: "max", background: "white") %>
            <% elsif post.user.avatar %>
            <%= image_tag(post.user.avatar, width: "50", height: "50") %>
            <% else %>
            <%= image_tag("userF1.png", width: "50", height: "50") %>
          <% end %>
            <strong><%= post.user.username %></strong>
            <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </div>
        <h3 class = "py-1"><%= post.title %></h3>
        <p>Category: <%= post.category %></p>

        <div class = "d-flex justify-content-center">
        <%= link_to "See details and replies", post_path(post), class: "btn btn-primary" %>
        </div>
        <hr/>
      </div>
    <% end %>
  </div>
</div>
