<div class="container my-5">
    <div class = "d-flex justify-content-center">
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    </div>
  <div class="container">
    <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :category, collection: ["General", "Food and Nutrition", "First Child", "Medical", "Event", "Recommendations", "Playdates"] %>
    <div class= "d-flex justify-content-center p-3">
      <%= f.submit "Submit your post", class: "btn-submit" %>
    <% end %>
  </div>
</div>
