<div class="container my-3 py-2">
  <div class= "py-3">
    <h1 class= "text-center"><%= @post.title %></h1>
      
      <%# POST %>
      
      <div class= "card rounded-3 p-2">
        <div class="d-flex gap-3 position-relative">
          <% if @post.user.avatar_cl.attached? %>
            <%= cl_image_tag(@post.user.avatar_cl.key, width: "50", height: "50", radius: "max", background: "#EAD6DE") %>
          <% elsif @post.user.avatar %>
            <%= image_tag(@post.user.avatar, width: "50", height: "50") %>
          <% else %>
            <%= image_tag("userF1.png", width: "50", height: "50") %>
          <% end %>
          <div class="d-flex flex-column justify-content-center">
            <h3><strong><%= @post.user == current_user ? "You" : @post.user.username %></strong></h3>
            <p><i><%= @post.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
          </div>
          <% if policy(@post).destroy? %>
            <%= button_to @post, form: { data: { turbo_confirm: 'Are you sure?' } } , method: :delete, class: "delete-icon" do %>
              <i class="fa-solid fa-trash fa-xl" style="color: #004444;"></i>
            <% end %>
          <% end %>
        </div>
        <hr/>
        <div class="reply">
          <p><%= @post.content %></p>
        </div>
      </div>

     <%# REPLIES %>

      <div>
        <% @post.replies.each do |reply| %>
          <div class="card rounded-3 p-2">
            <div class="d-flex gap-3 position-relative">
              <% if reply.user.avatar_cl.attached? %>
                <%= cl_image_tag(reply.user.avatar_cl.key, width: "50", height: "50") %>
              <% elsif reply.user.avatar %>
                <%= image_tag(reply.user.avatar, width: "50", height: "50") %>
              <% else %>
                <%= image_tag("userF1.png", width: "50", height: "50") %>
              <% end %>
              <div class="d-flex flex-column justify-content-center">
                <h3><strong><%= reply.user == current_user ? "You" : reply.user.username %></strong></h3>
                <p><i><%= reply.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
              </div>
              <% if policy(reply).destroy? %>
                <%= button_to reply, form: { data: { turbo_confirm: 'Are you sure?' } } , method: :delete, class: "delete-icon" do %>
                  <i class="fa-solid fa-trash fa-xl" style="color: #004444;"></i>
                <% end %>
              <% end %>
            </div>
            <hr/>
            <div class="reply">
              <p><%= reply.content %></p>
            </div>
          </div>  
        <% end %>
      </div>

      <%# MESSAGE FORM %>

      <div class= "my-4" >
        <div class= "container position-relative">
          <%= simple_form_for [@post, @reply],
          html: {class: ""} do |f|
          %>
            <%= f.input :content,
              label: false,
              placeholder: "Reply to #{@post.user == current_user ? "your" : "#{@post.user.username}'s"} post",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <button type="submit" class="send-icon"><i class="fa-solid fa-paper-plane fa-2xl" style="color: #004444;"></i></button>            
          <% end %>
        </div>
      </div>
  </div>
</div>
