<div class="container my-5 py-5">
  <h1><%= @post.title %></h1>
  <div>
      <div>
        <small>
          <strong><%= @post.user.username %></strong>
          <i><%= @post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= @post.content %></p>
        <p><%= @post.category %></p>

        <div class="back-button-wrapper mt-3"> <%= link_to "Back", posts_path %></div>
        <div class="delete-button-wrapper mt-3"> <%= button_to "Destroy this post", @post, method: :delete if policy(@post).destroy? %></div>
      </div>

      <%= simple_form_for [@post, @reply],
        html: {class: "d-flex"} do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message ##{@post.user.username}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
  </div>
</div>
