<div class="my-2 py-3">

  <h1 class="text-center">Add to <%= current_user.username %>`s calendar</h1>

  <div class="p-5">
    <%= simple_form_for [@hospital, @appointment], html: { autocomplete: "off" }  do |f| %>
      <%= f.input :title, label: 'Title' %>
      <%= f.input :purpose, collection: ["First visit", "Check up", "Ultrasound", "Blood Test", "Others"], selected: f.object.purpose || '1' %>
      <%= f.input :notes, label: 'Notes' %>
      <%= f.input :date, label:'Date', html5: true, input_html: {min: Date.tomorrow}%>
      <%#= f.input :time, as: :select, collection: @time_options, input_html: { prompt: "Select a time" } %>
      <%# t.time %>
      <%= f.input :time, as: :select, collection: @time_options %>
      <div class= "d-flex justify-content-center py-3">
      <%= f.submit "Add Appointment", class:"btn-main" %>
      </div>
    <% end %>
  </div>

</div>
